.container-fluid{
    width: 1450px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-3 {
    display: flex;
    flex-direction: column;
    width: 340px;
    background: radial-gradient(circle, #b5bbd7 -70%, #875FFE 70%);
    border-radius: 10px;
    padding: 0px 20px 18px 30px;
}

.col-3 .num {
    align-self: flex-end;
    font-size: 50px;
    color: #ffffff24;
}

.col-3 i {
    font-size: 50px;
    margin-bottom: 18px;
    color: white;
    margin-top: -40px;
}

.col-3 h3,
.col-3 p {
    color: white;
}

.col-3 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
@media (min-width:320px) and (max-width:767px) {
    .container-fluid{
        width: fit-content;
    }
    .row{
        flex-direction: column;
        align-self: center;
    }
    .col-3{
        margin-bottom: 15px;
    }
}
@media (min-width:768px) and (max-width:1280px) {
    .container-fluid{
        width: 768px;
    }
    .col-3{
        margin-bottom: 15px;
    }
    .row{
        justify-content: space-evenly;
    }
}